html
    head
        link(rel="stylesheet" href="/static/css/response.css")
    body
        script(src="/chartjs/Chart.bundle.min.js")
        script
              |  let ctx = document.createElement("canvas");
              |  let typeArray = '#{typeArray}'.split(',');
              |  let pie = new Chart(ctx,  {
              |  type: 'pie',
              |  data: {
              |      labels: typeArray,
              |      datasets: [{
              |          label: '# of Votes',
              |          data: [#{countArray}],
              |          backgroundColor: [
              for val in countArray
                - var n1 = Math.round(255*Math.random());
                - var n2 = Math.round(255*Math.random());
                - var n3 = Math.round(255*Math.random());
                | 'rgba(#{n1}, #{n2}, #{n3})',
              |          ],
              |          borderWidth: 1
              |      }]
              |  },
              |  options: {
              |      legend: {
              |          position: 'right',
              |      }
              |  }
              | });
              | document.body.append(ctx);